@{
    ViewData["Title"] = "Trang chủ";
}

@{
    int? uid = Context.Session.GetInt32("UserID");
    if (uid == null || uid <= 0)
    {
        <div class="row justify-content-center">
            <div class="col-auto">
                <a class="btn btn-primary" asp-controller="Authenticate" asp-action="LogIn" role="button">Đăng nhập</a>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto">
                <p class="m-0">Hoặc</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto">
                <a class="btn btn-primary" asp-controller="Authenticate" asp-action="SignUp" role="button">Đăng ký tài khoản</a>
            </div>
        </div>
    }
}