<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-16" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Quản lý ăn ca</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ClientApp.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ABC</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <div class="d-sm-inline-flex justify-content-start">
                        <div class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a>
                        </div>
                        @{
                            int? userID = Context.Session.GetInt32("UserID");
                            string? compRole = Context.Session.GetString("CompRole");
                            string? sysRole = Context.Session.GetString("SysRole");
                        }

                        @if (userID != null && userID > 0)
                        {
                            if (sysRole != null && sysRole == "Admin")
                            {
                                <div class="" id="adminDropdown">
                                    <ul class="navbar-nav">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" id="adminDropdownLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Quản trị viên
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="adminDropdownLink">
                                                <li>
                                                    <a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="InterfaceManager">Quản lý giao diện</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="UserManager">Quản lý người dùng</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="DepartmentManager">Quản lý phòng ban</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            }

                            <div class="" id="formDropdown">
                                <ul class="navbar-nav">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" id="formDropdownLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Đăng ký ăn ca
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="formDropdownLink">
                                            <li>
                                                <a class="dropdown-item" asp-area="" asp-controller="Form" asp-action="Personal">Đăng ký suất cá nhân</a>
                                            </li>
                                            @if (compRole != null && compRole == "Tập thể")
                                            {
                                                <li>
                                                    <a class="dropdown-item" asp-area="" asp-controller="Form" asp-action="Department">Đăng ký suất tập thể</a>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                </ul>
                            </div>

                            <div class="" id="statsDropdown">
                                <ul class="navbar-nav">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" id="statsDropdownLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Thống kê
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="statsDropdownLink">
                                            <li>
                                                <a class="dropdown-item" asp-area="" asp-controller="Statistics" asp-action="Personal">Thống kê cá nhân</a>
                                            </li>
                                            @if (sysRole != null && sysRole == "Admin")
                                            {
                                                <li>
                                                    <a class="dropdown-item" asp-area="" asp-controller="Statistics" asp-action="CompanyDaily">Thống kê đơn vị (ngày)</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" asp-area="" asp-controller="Statistics" asp-action="CompanyMonthly">Thống kê đơn vị (tháng)</a>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        }
                    </div>
                    <div class="d-sm-inline-flex justify-content-end">
                        @if (userID != null && userID > 0)
                        {
                            <div class="" id="profileDropdown">
                                <ul class="navbar-nav">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" id="profileDropdownLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            @Context.Session.GetString("FullName")
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="profileDropdownLink">
                                            <li>
                                                <a class="dropdown-item" asp-area="" asp-controller="Profile" asp-action="ViewProfile">Hồ sơ</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" asp-area="" asp-controller="Profile" asp-action="ViewOrders">Suất ăn</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" asp-area="" asp-controller="Profile" asp-action="Manage3rdShift">Quản lý ca đêm</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" asp-area="" asp-controller="Authenticate" asp-action="LogOut">Đăng xuất</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <span class="fw-bold">ABC Ltd - XYZ Group</span> |
            <span class="fw-light">Email: abc@xyz.domain.com</span> |
            <span class="fw-light">Tel: (+84) 9 69 420 113</span>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
